<!DOCTYPE html>
<html>
<title>Users</title>
<link href="{{ STATIC_URL }}css/default.css" rel="stylesheet" type="text/css">
<body>
{% load templatetag_handlebars %}
{% verbatim %}

<script type="text/x-handlebars" data-template-name="application">
{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="person">
{{view PersonApp.UploadFileView name="logo" contentBinding="content"}}
{{view PersonApp.UploadFileView name="other" contentBinding="content"}}
<a {{action submitFileUpload content target="view"}}>Save</a>
</script>

{% endverbatim %}
<script src="{{ STATIC_URL }}script/vendor/jquery-1.9.1.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/handlebars-1.0.0-rc.3.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-1.0.0-rc.1.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-data.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/adapter.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/app/person.js" type="text/javascript"></script>
</body>
</html>
